{% extends "layouts/base.html" %}

{% block page_title %}
Home
{% endblock %}

{% block content %}
<div class="ui raised very padded text container violet inverted segment">
        <h1 class="ui header">Welcome to flask-gulp-semantic-boilerplate</h1>
        <h3>
          This is a starter/boilerplate Flask project.
        </h3>
        <p>
		It includes Semantic UI, Flask-SQLAlchemy, WTForms, Gulp, BrowserSync and various testing utilities out of the box.
        </p>
        <p>Gulp is used to handle the frontend workflow. Included tasks are javascript minification and concatination, LESS compilation and image minification.</p>
        <p>
          BrowserSync automatically reloads web pages when source code changes are saved.
        </p>
        <p>
          <a href="https://github.com/yserd/flask-gulp-sematic-boilerplate" class="ui button">Learn more &raquo;</a>
        </p>

</div>
{% endblock %}
